
.left {
    left: -2px;
    top: 0;
    border-radius: 5px 0 0 5px;
}

.right {
    right: -2px;
    top: 0;
    border-radius: 0 5px 5px 0;
}

.startTime {
    left: 0;
}

.endTime {
    right: 0;
}



@media (max-width: 940px) {
    .note:not(:nth-child(2n+1)):after{
        display: none;
    }
}

@media (max-width: 640px) {
    .note:not(:nth-child(4n+1)):after{
        display: none;
    }
}
