.trim-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trim-container {
    height: 55px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 224, 255);
    position: relative;
}

.resizable {
    position: absolute;
    border: 2px solid rgb(247, 191, 6);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 2;
    background: linear-gradient(rgb(86, 144, 255), rgb(46, 109, 239));
}

.resizable:after {
    content: attr(data-time);
    position: absolute;
    top: -24px;
    width: 45px;
    height: 20px;
    background: rgb(247, 207, 6);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(54, 63, 90);
    font-weight: 600;
    border-radius: 2px;
}

.resizable:hover .left:after {
    display: block;
}

.resizable:hover .right:after {
    display: block;
}

.drag {
    width: 40px;
    margin: auto;
    height: 100%;
    cursor: grab;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag > svg {
    transform: rotate(90deg);
    fill: white;
    opacity: 0.5;
}

.drag:hover > svg {
    opacity: 1;
}


.resizer {
    width: 30px;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 207, 6);
    cursor: ew-resize;
    color: rgb(37, 46, 72);
    font-size: 16px;
    font-weight: 700;

}

.resizer > svg {
    fill: rgb(37, 46, 72);
    width: 20px;
}

.left {
    left: 0;
    top: 0;
}

.left:after {
    display: none;
    content: attr(data-start-second);
    position: absolute;
    bottom: -25px;
    width: 50px;
    height: 18px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    color: #bebcbc;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.right {
    right: 0;
    top: 0;
}

.right:after {
    display: none;
    content: attr(data-end-second);
    position: absolute;
    bottom: -25px;
    width: 50px;
    height: 18px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #bebcbc;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.seconds-counter {
    position: absolute;
    top: -40px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.seconds {
    width: 1px;
    height: 15px;
    background: rgb(167, 195, 248);
}

.note{
    position: relative;
    height: 30px;
}

.note:after {
    content: attr(data-second);
    position: absolute;
    top: -30px;
    left: 0;
    transform: translate(-50%);
    color: rgb(144, 169, 215);

}

@media (max-width: 940px) {
    .note:not(:nth-child(2n+1)):after{
        display: none;
    }
}

@media (max-width: 640px) {
    .note:not(:nth-child(4n+1)):after{
        display: none;
    }
}
